@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
$fontFira: "Fira Code", monospace;
$fontRobot: "Roboto", sans-serif;
$ff-Oswald: "Open Sans", sans-serif;
$ff-Open-Sans: "Oswald", sans-serif;
$border-left: 2px solid rgb(204, 186, 186);
$black: #333;
$white: #fff;
$light-color: #666;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  &::selection{
    background-color: #000;
    color: #fff
  }
}
@import "./assets/partials/variables";

//*heade css start

.header-section {
  position: relative;
  .header {
    .top-bar {
      background-color: #a3a5a7;
      .container {
        display: flex;
        justify-content: space-between;
        @include mediaQuery(120px, 992px) {
          justify-content: center;
        }
        .para {
          color: white;
          p {
            line-height: 18px;
            margin-top: 11px;
          }
        }
        .contact {
          display: flex;
          @include mediaQuery(120px, 992px) {
            display: none;
          }
          .top-links {
            .top-links-container {
              display: flex;
              text-transform: uppercase;
              font-size: 13px;
              font-family: $ff-Oswald;
              .top-links-item {
                line-height: 18px;
                margin-top: 11px;

                a {
                  border-left: $border-left;
                  color: white;
                  text-decoration: none;
                  padding: 14px 10px;
                  &:hover {
                    background-color: #222;
                  }
                  i {
                    font-size: 10px;
                  }
                }
              }
              .top-links-item-dropdown {
                z-index: 999;
                line-height: 18px;
                margin-top: 11px;
                &:hover .top-links-sub-menu {
                  display: block;
                }
                .aaa {
                  border-left: $border-left;
                  color: white;
                  text-decoration: none;
                  padding: 14px 10px;
                  i {
                    font-size: 10px;
                  }
                  &:hover {
                    background-color: #222;
                  }
                }
                .top-links-sub-menu {
                  display: none;
                  width: 143px;
                  background-color: #222;
                  position: fixed;
                  top: 44px;
                  .sub-menu-item {
                    margin: 10px 0px;
                    border-bottom: $border-left;
                    a {
                      text-decoration: none;
                      color: #fff;
                      img {
                        margin: 13px 0px;
                      }
                    }
                  }
                }
              }
            }
          }
          .top-socials {
            ul {
              display: flex;
              padding: 0px;
              font-size: 13px;
              li {
                line-height: 18px;
                margin-top: 11px;
                a {
                  border-left: $border-left;
                  color: white;
                  padding: 14px 15px;
                }
              }
            }
          }
        }
      }
    }
    .menu-bar {
      .menu-bar-wrapper {
        background-color: #eee;
        .container {
          display: flex;
          justify-content: space-between;
          .primary-menu {
            display: flex;
            justify-content: space-around;
            a {
              //   margin-right: 20px;
              img {
                width: 100px;
                height: 70px;
              }
            }
            ul {
              display: flex;
              margin-top: 20px;
              @include mediaQuery(120px, 992px) {
                display: none;
              }
              li {
                position: relative;
                padding: 0px 15px;
                a {
                  text-decoration: none;
                  color: black;
                  font-family: $ff-Oswald;
                  i {
                    font-size: 13px;
                    margin-left: 5px;
                    color: rgb(26, 22, 22);
                  }
                }
              }
            }
          }
          .menu-misc {
            display: flex;
            margin-top: 21px;
            #top-acount {
              a {
                border-right: 2px solid rgb(77, 71, 71);
                text-decoration: none;
                padding: 0px 10px;
                color: rgb(36, 30, 30);
              }
            }
            #top-cart {
              a {
                position: relative;
                padding: 0px 10px;
                color: rgb(36, 30, 30);
                P {
                  margin-top: -45px;
                  span {
                    position: absolute;
                    right: -21px;
                  }
                }
              }
              #cart-sub {
                z-index: 999;
                display: none;
                position: absolute;
                top: 116px;
                right: 100px;
                background-color: #eee;
                width: 350px;
                padding: 10px;
                .container {
                  display: grid;
                  .cart-title {
                    border-bottom: 2px solid rgb(187, 182, 182);
                    h4 {
                      margin: 8px 0px 15px 0px;
                      font-family: $ff-Oswald;
                      font-size: 18px;
                      font-weight: 700;
                      text-transform: uppercase;
                    }
                  }
                  .cart-items {
                    border-bottom: 2px solid rgb(187, 182, 182);
                    .item1 {
                      margin: 15px 0px;
                      display: grid;
                      grid-template-columns: 1fr 200px 1fr;
                      border-bottom: 2px solid rgb(187, 182, 182);
                      .item1-content {
                        a {
                          padding: unset;
                          text-decoration: none;
                        }
                        span {
                          display: block;
                        }
                      }
                      .item1-calculat {
                        text-align: right;
                        span {
                          display: block;
                        }
                      }
                    }
                    .item2 {
                      display: grid;
                      grid-template-columns: 1fr 200px 1fr;
                      margin: 15px 0px;
                      .item2-content {
                        a {
                          padding: unset;
                          text-decoration: none;
                        }
                        span {
                          display: block;
                        }
                      }
                      .item2-calculat {
                        text-align: right;
                        span {
                          display: block;
                        }
                      }
                    }
                  }
                  .cart-footer {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 8px;
                    span {
                      font-size: 25px;
                      display: block;
                    }
                    a {
                      background-color: #222;
                      color: white;
                      margin: 5px 20px;
                      padding: 5px 10px;
                      border-radius: 5px;
                      text-align: center;
                      text-transform: uppercase;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
            #top-search {
              margin-left: 10px;
              a {
                padding: 0px 10px;
                color: rgb(36, 30, 30);
              }
            }
          }
        }
      }
    }
  }
  #nav-sub-menu-wrapper {
    z-index: 999;
    display: none;
    position: absolute;
    top: 116px;
    .nav-sub-menu {
      background-color: #eee;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      font-family: $ff-Oswald;
      .nav-sub {
        h1 {
          padding: 20px 0px 5px 30px;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600;
        }
        ul {
          li {
            padding: 5px 0px;
            &:hover {
              background-color: #eef;
            }
            a {
              color: #222;
              text-decoration: none;
            }
          }
        }
      }
      .nav-sub1 {
        a {
          text-decoration: none;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  #nav-sub-women {
    z-index: 999;
    display: none;
    position: absolute;
    top: 116px;
    left: 350px;
    .container {
      width: 500px;
      height: auto;
      background-color: #eee;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-family: $ff-Oswald;
      .sub-item1 {
        h1 {
          padding: 20px 0px 5px 30px;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600;
        }
        ul {
          li {
            padding: 5px 0px;
            &:hover {
              background-color: #eef;
            }
            a {
              color: #222;
              text-decoration: none;
            }
          }
        }
      }
      .sub-item2 {
        h1 {
          padding: 20px 0px 5px 30px;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 600;
        }
        ul {
          li {
            padding: 5px 0px;
            &:hover {
              background-color: #eef;
            }
            a {
              color: #222;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

//*heade css end

// slider section start --------------->

.carousel-inner {
  .BG-1 {
    background-image: url(../images/100.jpg);
  }
  .BG-2 {
    background-image: url(../images/104.jpg);
  }
  .BG-3 {
    background-image: url(../images/105.jpg);
  }
  .carousel-item {
    display: grid;
    align-items: center;
    text-align: center;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .slider-txt {
      a {
        text-decoration: none;
        font-size: 15px;
        color: rgb(124, 4, 4);
        padding: 0px 20px;
        background-color: #fff;
        text-transform: uppercase;
        border-radius: 10px;
      }
      h1 {
        color: #fff;
        font-size: 50px;
      }
      p {
        color: rgb(0, 255, 157);
        font-size: 30px;
        line-height: 8px;
      }
    }
  }
}
// <----------slider section end

// categories section start -------->

.categories-section {
  .cat-heading {
    display: grid;
    grid-template-columns: auto 205px auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 14px;

    h4 {
      text-align: center;
      margin-bottom: 0px;
      padding-bottom: 4px;
      font-size: 18px;
      @include mediaQuery(200px, 768px) {
        font-size: 16px;
      }
    }
    div {
      height: 0.5px;
      width: 100%;
      background-color: #909090;
    }
    @include mediaQuery(200px, 768px) {
      grid-template-columns: auto 179px auto;
    }
  }

  .catItems-container {

    display: grid;
    grid-template-columns: repeat(12,auto);
    grid-template-rows: auto auto;
    grid-gap: 24px;
    @include mediaQuery (768px , 992px) {
      grid-template-columns: auto;
      grid-template-rows: repeat(5, auto);
    }
    .row1-col1{
      grid-column: 1/span 7;
    }
    .row1-col2{
      grid-column: 8 /span 5;
    }
    .row2{
      grid-column: auto/ span 4;
      grid-row: auto/span 1;
      background-size: cover;
      background-position: center;  
    }
    .cat-items{
      display: grid;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      font-size: 22px;
      color: #eeeeee;
      font-weight: bold;
      text-decoration: none;
      @include mediaQuery (120px , 992px) {
        grid-column: 1/ -1;
      }
      .txt-felx-end {
        align-self: flex-end;
      }  
      .cat-button{
        align-self: flex-start;
        text-align: center;
        button{
          font-size: 11px;
          color: #000;
          background-color: #fff;
          padding: 4px 14px;
          text-decoration: none;
        }
      }
    }
  }
}

//<-----------categories section end

//feature products-starts
.featureProduct-section {
  margin-top: 60px;
  height: 600px;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 55px;
  }
  p {
    font-size: 22px;
    padding: 3px;
  }
  .row {
    .col-md-3 {
      .product-grid {
        background-color: #fff;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        display: inline;
        flex-wrap: wrap;
        .product-image {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 100%;
          &:hover .product-links {
            bottom: 40px;
            opacity: 1;
          }
          .image {
            display: block;
            &:hover .pic-1 {
              transform: translate(100%);
            }
            &:hover .pic-2 {
              transform: translateX(0);
            }
            img {
              width: 100%;
              height: 100%;
            }
            .pic-1 {
              transition: all 0.3s ease 0s;
            }
            .pic-2 {
              transform: translateX(-105%);
              position: absolute;
              top: 0;
              left: 0;
              transition: all 0.3s ease 0s;
            }
          }
          .product-like-icon {
            color: #696969;
            font-size: 22px;
            line-height: 20px;
            position: absolute;
            top: 15px;
            right: 15px;
            &:hover {
              color: #0a805e;
            }
            &:before,
            &:after {
              content: attr(data-tip);
              color: #fff;
              background-color: #000;
              font-size: 12px;
              line-height: 18px;
              padding: 7px 7px 5px;
              visibility: hidden;
              position: absolute;
              right: 0;
              top: 15px;
              transition: all 0.3s ease 0s;
            }
            &:after {
              content: "";
              height: 15px;
              width: 15px;
              padding: 0;
              transform: translateX(-50%) rotate(45deg);
              right: auto;
              left: 50%;
              top: 15px;
              z-index: -1;
            }
            &:hover:before,
            &:hover:after {
              visibility: visible;
              top: 30px;
            }
          }
          .product-links {
            width: 170px;
            padding: 0;
            margin: 0;
            list-style: none;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            bottom: -50px;
            left: 50%;
            transition: all 0.3s ease 0s;
            li {
              display: inline-block;
              margin: 0 2px;
              a {
                color: #fff;
                background: #000;
                font-size: 16px;
                line-height: 48px;
                width: 48px;
                height: 48px;
                border-radius: 10px;
                display: block;
                transition: all 0.3s ease 0s;
                &:hover {
                  background: #333;
                }
              }
            }
          }
        }
        .product-content {
          text-align: left;
          padding: 15px 0 0;
          i {
            color: #eb4d1d;
          }
          .title {
            font-size: 18px;
            font-weight: 700;
            text-transform: capitalize;
            margin: 0 0 8px;
            a {
              color: rgb(8, 4, 4);
              transition: all 0.3s ease 0s;
              &:hover {
                color: #0a805e;
              }
            }
          }
          .price {
            padding-bottom: 9px;
            color: #202005;
            font-size: 16px;
            font-weight: 500;
            span {
              color: #555;
              font-size: 14px;
              font-weight: 400;
              text-decoration: line-through;
              margin: 0 5px 0 0;
            }
          }
          .btn {
            padding: 0;
            a {
              left: 0px;
              margin-right: 10px;
              padding: 2px 12px;
              position: relative;
              color: black;
              background: rgb(249, 250, 250);
              font-weight: 300;
              text-decoration: none;
              border: 2px solid black;
              border-radius: 7px;
              &:hover {
                border: 2px solid black;
                background: linear-gradient(
                  0.25turn,
                  #eb4d1d,
                  #1ad7dd,
                  #2de714
                );
              }
            }
          }
        }
        @media screen and (max-width: 990px) {
          margin: 0 0 30px;
        }
      }
    }
  }
}
//feature products-ends

//  newArrival section-starts
.newArrival-section {
  background-color: #f9f9f9;
  padding: 35px;
  padding-bottom: 55px;
  .container {
    .row {
      .col-md-5 {
        .first-row {
          height: 332px;
          @include mediaQuery(992px, 1200px) {
            height: 368px;
          }
          @include mediaQuery(768px, 992px) {
            height: 438px;
          }
          .col-md-12 {
            display: flex;
            justify-content: center;
            align-items: center;
            .txtFormat {
              p {
                line-height: 24px;
                font-size: 17px;
              }
              a {
                background-color: #212529;
                color: #fff;
                text-decoration: none;
                padding: 8px 19px;
                font-size: 12px;
              }
            }
          }
        }
        .sec-row {
          .col-sm-6 {
            height: 304px;
            padding-bottom: 20px;
            @include mediaQuery(992px, 1200px) {
              height: 248px;
            }
            @include mediaQuery(768px, 992px) {
              height: 178px;
            }
            .custom-modal-section1 {
              .cont1 {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                pointer-events: none;
                .close1 {
                  position: fixed;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                }
              }
              .show {
                pointer-events: all;
                opacity: 1;
                transition: 0.5s;
              }
            }
            .custom-modal-section2 {
              .cont2 {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                pointer-events: none;
                .close2 {
                  position: fixed;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                }
              }
              .show {
                pointer-events: all;
                opacity: 1;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .col-md-7 {
        height: 636px;
        padding-bottom: 20px;
        .custom-modal-section {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-image: linear-gradient(
            to left,
            rgb(255, 125, 0),
            rgb(177, 7, 89)
          );
          background-repeat: no-repeat;
          background-size: cover;
          .custom-modal {
            .btn0 {
              padding: 4px 15px 7px 18px;
              background-color: transparent;
              font-size: 30px;
              color: white;
              border-radius: 50px;
              border: 1px solid white;
              cursor: pointer;
              &:hover {
                background-color: rgba(59, 59, 59, 0.2);
              }
            }
          }
          .cont {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(59, 59, 59, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            .close {
              position: absolute;
              top: 13%;
              right: 75px;
              font-size: 20px;
              cursor: pointer;
              color: #bdb7b7;
              &:hover {
                color: white;
              }
            }
            iframe {
              max-width: 800px;
              @media only screen and (max-width: 1084px) {
                height: auto;
              }
            }
          }
          .show {
            pointer-events: all;
            opacity: 1;
          }
        }
      }
    }
  }
}
//  newArrival-section-ends

//offer section-starts
.offer-section {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  .container {
    .row {
      background-color: #fff;
      .col-md-7 {
        height: 339px;
        padding: 0px;
      }
      .col-md-5 {
        height: 339px;
        display: flex;
        align-items: center;
        padding: 0px 12px;
        div {
          padding: 16px;
          ul {
            li {
              list-style-type: circle;
            }
          }
          a {
            text-align: center;
            padding: 8px 17px;
            border-radius: 4px;
            background-color: black;
            color: white;
            text-decoration: none;
          }
          p {
            margin: 5px;
            font-size: 14px;
            font-style: italic;
          }
        }
      }
    }
  }
}
//offer section-ends

// ******** details start ******

.details-section {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  .box-container {
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    .box {
      border-radius: 0.5rem;
      text-align: start;
      background: rgba(8, 8, 8, 0.05);
      padding: 1.9rem;
      cursor: pointer;

      i {
        color: #333;
        font-size: 2rem;
        padding: 1rem;
      }

      h4 {
        display: inline;
        color: #333;
        font-size: 1.3rem;

        p {
          color: #333;
          font-size: 1.1rem;
          padding: 2rem;

          //  :hover{
          //  background:#fff;

          // // //  :hover > *{
          // // //   color:#333;
        }
      }
    }
  }

  //********* faq start *****

  .faq {
    .accordion-container {
      max-width: 100%;
      margin: 0 auto;

      .accordion {
        background: $white;
        margin-bottom: 1.5rem;
        box-shadow: $box-shadow;

        &:last-child {
          margin-bottom: 0.5rem;
        }

        &.active {
          .accordion-heading {
            background: #0984e3;

            i {
              transform: rotate(180deg);
            }
          }

          .accordioin-content {
            display: block;
          }
        }
        .accordion-heading {
          padding: 2rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          justify-content: space-between;
          background: $light-color;
          cursor: pointer;

          h4 {
            font-size: 1.1rem;
            color: $white;
          }

          i {
            font-size: 1rem;
            color: $white;
          }
        }
      }

      .accordioin-content {
        padding: 2rem;
        font-size: 1rem;
        line-height: 2;
        color: $light-color;
        display: none;
        animation: fadeIn 0.2s linear;
      }
    }
  }

  // ****** faq end *******
}

// ******** details end ******

//brand area-starts
.brand-area {
  padding: 50px 0px;
  .singleBrand-container {
    display: grid;

    div {
      .brand-heading {
        display: grid;
        grid-template-columns: auto 250px auto;
        @include mediaQuery(120px, 768px) {
          grid-template-columns: auto 225px auto;
        }
        hr {
          margin: 14px 0px;
          @include mediaQuery(120px, 768px) {
            margin: 13px 0px;
          }
        }
        p {
          text-align: center;
          padding-bottom: 2rem;
          display: inline-block;
          font-size: 18px;
          span {
            color: #fa0a0a;
          }
          @include mediaQuery(120px, 768px) {
            font-size: 16px;
          }
        }
      }
      ul {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(8, auto);
        justify-content: center;
        @include mediaQuery(768px, 992px) {
          grid-template-columns: repeat(6, auto);
        }
        @include mediaQuery(600px, 768px) {
          grid-template-columns: repeat(3, auto);
        }
        @include mediaQuery(220px, 600px) {
          grid-template-columns: auto auto;
        }
        li {
          opacity: 0.5;
          list-style-type: none;
          transition: 0.5s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
//brand area-ends

/******** before footer Area start ********/

.before-footer-stick {
  padding: 3rem;
  .container {
    .row {
      div {
        .shop-footer-features {
          i {
            font-size: 2rem;
          }
          h5 {
            display: inline;
            color: $white;
            font-size: 1rem;
            a {
              text-decoration: none;
              color: $black;
            }
          }
        }
      }
    }
  }
}

/******** before footer Area end ********/

/******** footer Area start ********/

.footer {
  padding: 6rem;

  p {
    font-size: 0.9rem;
    strong {
      color: $light-color;
      font-size: 0.9rem;
    }
  }
  form {
    input {
      font-size: 0.7rem;
      margin-right: 15px;
      border: $box-shadow;
    }
    button {
      font-size: 0.7rem;
      border-radius: 5px;
      color: $white;
      padding: 0.135rem 2rem;
      background: rgba(10, 10, 10, 0.904);
    }
  }

  .container {
    .footer-widgets-wrap {
      .row {
        .col-lg-2 {
          .widget {
            h4 {
              font-size: 0.99rem;
              // padding: rem;
            }
            ul {
              li {
                text-decoration: none;
                a {
                  text-decoration: none;
                  font-size: 0.9rem;
                  color: $light-color;
                }
              }
            }
          }
        }
      }
    }
  }
  .copyrights {
    padding-top: 1rem;
    .container {
      .row {
        font-size: 0.9rem;
        padding: 3rem 0rem;
        .col-md-6 {
          .copyright-links {
            a {
              color: $light-color;
              padding: 1rem 1rem;
              font-size: 0.8rem;
              text-decoration: dashed;
            }
          }
        }
      }
    }
  }
}

/******** footer Area end ********/
