@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@500&display=swap");

$fontFira: "Fira Code", monospace;
$fontRobot: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.heder-section{
  .header{
    .top-bar{
      background-color: #a3a5a7;
      .container{
        display: flex;
        justify-content: space-between;
        .para{
          font-size: 13px;
          color: white;
          p{
            margin-top: 13px;
          }
        }
        .contact{
          display: flex;
          .top-links{
            font-family: $fontRobot;
            text-transform: uppercase;
            font-size: 12px;
            ul{
              line-height: 16px;
              display: flex;
              li{
                margin-top: 15px;
                a{
                  border-left: 1px solid rgba(201, 192, 192, 0.726);
                  padding: 18px;
                  text-decoration: none;
                  color: white;
                  &:hover{
                    background-color: #222;
                  }

                }
              }
            }
          }
          .top-socials{
            display: flex;
            .icons{
              margin-top: 2px;
              border-left: 1px solid rgba(201, 192, 192, 0.726);
              a{
                color: white;
                i{
                  padding: 13px;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
    .menu-bar{
      .container{

      }

    }
  }
}

// slider section start

  .carousel-inner {
      .BG-1 {
          background-image: url(../images/100.jpg);
      }
      .BG-2 {
          background-image: url(../images/104.jpg);
      }
      .BG-3 {
          background-image: url(../images/105.jpg);
          
      }
      .carousel-item {
          display: grid;
          align-items: center;
          text-align: center;
          height: 500px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          .slider-txt {
              a {
                  text-decoration: none;
                  font-size: 15px;
                  color: rgb(124, 4, 4);
                  padding: 0px 20px;
                  background-color: #fff;
                  text-transform: uppercase;
                  border-radius: 10px;
              }
              h1 {
                  color: #fff;
                  font-size: 50px;
              }
              p {
                  color: rgb(0, 255, 157);
                  font-size: 30px;
                  line-height: 8px;
              }
          }
      }
  }

// slider section end




